html {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

body {
  min-height: 100%;
}

chirpr-post {
  display: block;
  padding: 16px;
  font-size: 1.4em;
  border-bottom: 1px solid black;
}

chirpr-post-timestamp {
  display: block;
  font-size: 0.6em;
  text-align: right;
}

.chirpr-post-content {
  display: block;
  padding: 0;
  margin: 0 0 16px 0;
}

img.chirpr-post-content {
  max-width: 100%;
  margin: 0 auto;
}

#container {
  width: 640px;
  margin: 0 auto;
  background-color: white;
  padding: 0 18px;
  min-height: 100%;
}

h1 a {
  color: inherit;
  text-decoration: inherit;
}

h1 a:visited {
  color: inherit;
}

textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 64px;
  font-size: 1.4em;
}

#formSection {
  margin: 16px 0;
}

#formSectionTabBar {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: -1px;
}

.formSectionTab {
  display: flex;
  background-color: #cccccc;
  padding: 8px;
  border: none;
  font-size: 1em;
  border: 1px solid black;
  margin-right: -1px;
}

.formSectionTab.selected {
  background-color: white;
  border-bottom-width: 0;
}

#formSection form.selected {
  display: block;
}

#formSection form {
  background-color: white;
  padding: 16px;
  border: 1px solid black;
  display: none;
}

input[type="submit"] {
  margin-top: 16px;
  font-size: 1em;
  -webkit-appearance: none;
}
