html {
  font-family: 'Noto Sans', sans-serif;
  --donut-bg-color: #FFFCE8;
  --donut-main-color: #DD403A;
  --donut-text-color: #3E363F;
  --donut-highlight-color: #3F7D20;
  --donut-highlight-active-color: #7cd251;
  --donut-secondary-color: #B8B42D;
  --donut-secondary-active-color: #F8F4A6;
}
html.pink {
  --donut-bg-color: #FFFAFF;
  --donut-main-color: #0A2463;
  --donut-text-color: #1E1B18;
  --donut-highlight-color: #EF476F;
  --donut-highlight-active-color: #ff7c9d;
  --donut-secondary-color: #3E92CC;
  --donut-secondary-active-color: #acece6;
}
body {
  margin: 0;
}

[symbol="tulip"] {
  --donut-symbol: url('https://donut-pay.appspot.com/ui/images/tulip.svg');
}

[symbol="candy"] {
  --donut-symbol: url('https://donut-pay.appspot.com/ui/images/candy.svg');
}

[symbol="coin"] {
  --donut-symbol: url('https://donut-pay.appspot.com/ui/images/coin.svg');
}

[hidden] {
  display: none !important;
}

donut-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--donut-text-color);
  background-color: var(--donut-bg-color);
}
donut-panel-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
donut-header {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--donut-main-color);
  color: var(--donut-bg-color);
  height: 64px;
  align-items: stretch;
  font-size: 24px;
  padding: 0;
  box-sizing: content-box;
}
donut-header-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
}
donut-header-title:first-child {
  margin-left: 16px;
}
donut-balance {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 20px;
  padding: 0 16px;
  box-sizing: content-box;
  height: 160px;
  justify-content: center;
}
donut-balance-value {
  display: block;
  font-size: 48px;
}
donut-panel-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
donut-panel-body-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding-bottom: 80px;
}
donut-transition {
  display: flex;
  flex-flow: row nowrap;
  height: 64px;
  border-top: 1px solid var(--donut-secondary-color);
  box-shadow: 0 1px var(--donut-secondary-color);
  box-sizing: content-box;
  padding: 0 16px;
  box-sizing: content-box;
  font-size: 24px;
}
donut-transition-title-area {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
  overflow: hidden;
}
donut-transition-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  font-size: 20px;
}
donut-transition-subtitle {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #807366;
}
donut-transition-amount {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 28px;
  margin-left: 16px;
}
.donut-value {
  font-family: 'Cinzel', cursive;
}
.pink .donut-value {
  font-family: 'Fredoka One', cursive;
}
.donut-value:before {
  content: "";
  background-image: var(--donut-symbol);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center center;
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
  padding: 0.15em;
  margin-bottom: -0.26em;
}
.pink .donut-value:before {
  padding: 0.1em;
}
donut-fab {
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: var(--donut-highlight-color);
  border-radius: 24px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--donut-bg-color);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  user-select: none;
}
donut-fab:active {
  background-color: var(--donut-highlight-active-color);
}
donut-button {
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  padding: 4px 12px;
  margin: 16px;
  color: var(--donut-bg-color);
  background-color: var(--donut-highlight-color);
}
donut-button:active {
  background-color: var(--donut-highlight-active-color);
}
donut-field {
  display: flex;
  border-radius: 3px;
  border: 1px solid var(--donut-main-color);
  margin: 16px 16px 8px 16px;
  position: relative;
  padding: 8px;
}
donut-field > label {
  position: absolute;
  top: -12px;
  left: 12px;
  background-color: var(--donut-bg-color);
  color: var(--donut-main-color);
  font-size: 14px;
  padding: 0 4px;
}
donut-field > select {
  -webkit-appearance: none;
  border-style: none;
  width: auto;
  font-size: 18px;
  flex: 1;
  background-color: transparent;
  background-image: url(./images/triangle.svg);
  background-size: 19px 14px;
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  padding-right: 30px;
}
donut-field > input {
  border-style: none;
  width: auto;
  font-size: 18px;
  flex: 1;
  background-color: transparent;
}
donut-field > input:focus, donut-field > select:focus {
  outline: none;
}
donut-panel.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  --offset: 187;
  --duration: 1.4s;
  animation: rotator var(--duration) linear infinite;
}
@keyframes rotator {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(270deg);
 }
}
.spinner-path {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash var(--duration) ease-in-out infinite;
  stroke: var(--donut-main-color);
}
@keyframes dash {
  0% {
      stroke-dashoffset: var(--offset);
 }
  50% {
      stroke-dashoffset: 46.75;
      transform:rotate(135deg);
 }
  100% {
      stroke-dashoffset: var(--offset);
      transform:rotate(450deg);
 }
}
.summary-app donut-progress-bar {
  top: 0px;
}
donut-progress-bar {
  position: absolute;
  top: 64px;
  height: 4px;
  display: block;
  width: 100%;
  background-color: var(--donut-secondary-highlight-color);
  background-clip: padding-box;
  overflow: hidden;
}
donut-progress-bar .indeterminate {
}
donut-progress-bar .indeterminate:before {
  content: '';
  position: absolute;
  background-color: var(--donut-secondary-color);
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
donut-progress-bar .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}
@keyframes indeterminate {
  0% {
      left: -35%;
      right: 100%;
 }
  60% {
      left: 100%;
      right: -90%;
 }
  100% {
      left: 100%;
      right: -90%;
 }
}
@keyframes indeterminate-short {
  0% {
      left: -200%;
      right: 100%;
 }
  60% {
      left: 107%;
      right: -8%;
 }
  100% {
      left: 107%;
      right: -8%;
 }
}

donut-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 40px;
  height: 40px;
  align-self: center;
  cursor: pointer;
  user-select: none;
  border-radius: 50% 50%;
}

donut-toolbar-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.pink [name="amount"] {
  font-family: 'Fredoka One', cursive;
}

[name="amount"] {
  font-family: 'Cinzel', cursive;
  background-image: var(--donut-symbol);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center left;
  background-size: 1em 1em;
  padding-left: 30px;
}

donut-spinner-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#spinnerLabel {
  padding: 16px;
  color: var(--donut-bg-color);
  font-size: 18px;
}
