<h1>Create Watermark</h1>

<form id="createWatermarkForm" action="/api/wallet" method="post">
  <input type="hidden" name="ownerid">
  <input id="createWatermarkSubmit" type="submit" value="Submit">
</form>

<h2>Embed Codes</h2>
<input type="text" id="watermarkId"><br>
<canvas id="qrCode"></canvas><br>
<textarea id="htmlCode"></textarea>

<script src="qrcodegen.js"></script>
<script src="../ui/wallet.js"></script>
<script>
  let form = document.getElementById("createWatermarkForm");
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    let walletKey = await loadWalletKey();
    form["ownerid"].value = walletKey.id;
    let params = new URLSearchParams(new FormData(form));
    let resp = await fetch("/api/watermark", {
      method: 'post',
      body: params,
    });
    if (resp.status === 200) {
      let o = await resp.json();
      document.getElementById("watermarkId").value = o["id"];
      let qrImageData = createQrCodeImageData(o["id"].toString());
      let qrCanvas = document.getElementById("qrCode");
      qrCanvas.width = qrImageData.width;
      qrCanvas.height = qrImageData.height;
      qrCanvas.getContext('2d').putImageData(qrImageData, 0, 0);
      document.getElementById("htmlCode").value = `<div donut-watermark="${o["id"]}"></div>`;
    } else {
      console.error(resp);
    }
  });
  function createQrCodeImageData(message) {
    let qr0 = qrcodegen.QrCode.encodeText(message, qrcodegen.QrCode.Ecc.LOW);
    let canvas = document.createElement("canvas");
    qr0.drawCanvas(8, 4, canvas);
    let ctx = canvas.getContext("2d");
    return ctx.getImageData(0, 0, canvas.width, canvas.height);
  }
</script>