<h1>Create Wallet</h1>

<form id="createWalletForm" action="/api/wallet" method="post">
  <label for="label">Label</label><input name="label" type="input"><br>
  <input type="hidden" name="pubkey">
  <input id="createWalletSubmit" type="submit" value="Submit">
</form>

<h2>Current Wallet</h2>
<pre id="currentWalletKey"></pre>

<script src="../ui/wallet.js"></script>
<script>
  document.getElementById("currentWalletKey").innerHTML = JSON.stringify(JSON.parse(window.localStorage.getItem("walletKey")), null, 2);
  let form = document.getElementById("createWalletForm");
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    createWallet(form['label'].value);
  });
</script>