<h1>Create Transaction</h1>

<form id="createTransactionForm" action="/api/transaction" method="post">
  <label for="fromid">From:</label><input name="fromid" type="input" readonly><br>
  <label for="toid">To:</label>
  <select name="toid" id="wallets">
  </select><br>
  <label for="amount">Amount:</label>
  <input name="amount" type="number" min="0" step="1" value="100"><br>
  <input name="signature" type="hidden">
  <input id="createTransactionSubmit" type="submit" value="Submit">
</form>

<h2>Latest Transactions</h2>
<pre id="transactions"></pre>

<script src="../ui/wallet.js"></script>
<script>
  let form = document.getElementById("createTransactionForm");
  form['toid'].addEventListener('focus', async (event) => {
    form['fromid'].readonly = false;
    form['fromid'].value = window.localStorage.getItem('walletid');
    form['fromid'].readonly = true;
    let resp = await fetch("/api/wallet");
    let data = await resp.json();
    let toWalletSelect = form["toid"];
    toWalletSelect.innerHTML = "";
    data.forEach(wallet => {
      toWalletSelect.appendChild(new Option(`${wallet['label']} (${wallet['id']})`, wallet['id']));
    });
  });
  function buf2hex(buffer) { // buffer is an ArrayBuffer
    return Array.prototype.map.call(new Uint8Array(buffer), x => ('00' + x.toString(16)).slice(-2)).join('');
  }
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    let message = `${form['fromid'].value}/${form['toid'].value}/${form['amount'].value}`;
    console.log("message", message);
    let messageData = (new TextEncoder()).encode(message);
    let walletKey = await loadWalletKey();
    let signature = await window.crypto.subtle.sign(
      {
        name: "RSASSA-PKCS1-v1_5",
      },
      walletKey.privateKey, //from generateKey or importKey above
      messageData //ArrayBuffer of data you want to sign
    );
    form['signature'].value = buf2hex(signature);
    let params = new URLSearchParams(new FormData(form));
    let resp = await fetch("/api/transaction", {
      method: 'post',
      body: params,
    });
    if (resp.status === 200) {
      let data = await resp.json();
      console.log("transaction id:", data["id"]);
    } else {
      console.error(resp);
    }
  });

  (async () => {
    let resp = await fetch("/api/transaction");
    let o = await resp.json();
    document.getElementById('transactions').innerHTML = JSON.stringify(o, null, 2);
  })();
</script>