<h1>Create Product</h1>

<form id="createProductForm" action="/api/wallet" method="post">
  <input type="hidden" name="merchantId">
  <label for="price">Price:</label>
  <input name="price" type="number" step="1" value="100"><br>
  <input id="createProductSubmit" type="submit" value="Submit">
</form>

<script src="../ui/wallet.js"></script>
<script>
  let form = document.getElementById("createProductForm");
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    let walletKey = await loadWalletKey();
    form["merchantId"].value = walletKey.id;
    let params = new URLSearchParams(new FormData(form));
    let resp = await fetch("/api/product", {
      method: 'post',
      body: params,
    });
    if (resp.status === 200) {
      console.log(resp);
    } else {
      console.error(resp);
    }
  });
</script>