<h1>Get Gaia Gift</h1>

<form id="getGaiaGiftForm" action="/gaia/gift" method="post">
  <label for="toid">To:</label>
  <select name="toid" id="wallets">
  </select><br>
  <label for="amount">Amount:</label>
  <input name="amount" type="number" min="0" step="1" value="100"><br>
  <input id="createTransactionSubmit" type="submit" value="Submit">
</form>

<script src="../ui/wallet.js"></script>
<script>
  let form = document.getElementById("getGaiaGiftForm");
  form['toid'].addEventListener('focus', async (event) => {
    let resp = await fetch("/api/wallet");
    let data = await resp.json();
    let toWalletSelect = form["toid"];
    toWalletSelect.innerHTML = "";
    data.forEach(wallet => {
      toWalletSelect.appendChild(new Option(`${wallet['label']} (${wallet['id']})`, wallet['id']));
    });
  });
  function buf2hex(buffer) { // buffer is an ArrayBuffer
    return Array.prototype.map.call(new Uint8Array(buffer), x => ('00' + x.toString(16)).slice(-2)).join('');
  }
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    let params = new URLSearchParams(new FormData(form));
    let resp = await fetch("/gaia/gift", {
      method: 'post',
      body: params,
    });
    if (resp.status === 200) {
      let data = await resp.json();
      console.log("transaction id:", data["id"]);
    } else {
      console.error(resp);
    }
  });
</script>