<h1>Send Ping</h1>

<form id="pingForm" action="/api/transaction" method="post">
    <label for="toid">To:</label><input name="toid" type="text" readonly><br>
    <label for="domain">Domain:</label><input name="domain" type="text"><br>
    <label for="watermarks">Watermarks:</label><input name="watermarks" type="text"><br>
    <input id="pingSubmit" type="submit" value="Submit">
</form>

<script>
    let form = document.getElementById("pingForm");
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        form['toid'].readonly = false;
        form['toid'].value = window.localStorage.getItem('walletid');
        form['toid'].readonly = true;
        let params = new URLSearchParams(new FormData(form));
        let resp = await fetch("/gaia/ping", {
            method: 'post',
            body: params,
        });
        if (resp.status === 200) {
            let data = await resp.json();
            console.log("transaction id:", data["id"]);
        } else {
            console.error(resp);
        }
    });
</script>